@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&display=swap');

:root {
    --background-color: #D8D7D9;
    --text-color: #353A3D;
    --element-background-color: #D9B8B8;
    --focus-color: #BF7B75;
}

* {
    box-sizing: border-box;
    font-family: 'Martian Mono', monospace, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 40vw;
    margin-top: 10vh;
    margin-left: 30vw;
    background-color: var(--main-background-color);
    color: var(--text--color);
}

.display {
    display: flex;
    flex-direction: column;
    max-height: 75vh;
    margin: 0 2vh;
    overflow-y: scroll;
}

.display > div {
    margin-bottom: 1vh;
}

input {
    outline: unset;
    width: 40vw;
    margin-bottom: 2.5vh;
    padding: .5em .8em;
    border: 0;
    border-radius: 10px;
    background-color: var(--element-background-color);
    color: var(--main-background-color);
}

input:focus {
    background-color: var(--focus-color);
}


::-webkit-scrollbar {
    width: .8em;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--element-background-color);
    border: 0;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--focus-color);
}